.container{
	width:auto;
}
@font-face {
    font-family:BentonSans-Medium;
    src: url("./assests/BentonSans-Medium.otf");
}

@font-face {
    font-family:BentonSans-Regular;
    src: url("./assests/BentonSans-Regular.otf");
}

.image-responsive{
	width:100%;
	height:100%;
}


.text-container{
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
}

.left-arrow{
   width: 5vw;
    height: 4.5vw;
    opacity: 0.5;
    margin-top: 5.2vw;
    margin-left: 5vw;
}

.hero-title{
   font-size: 4vw;
    font-family: BentonSans-Medium;
    margin-top: 5vw;
}

.steps-container{
     position: relative;
    margin-top: 7vw;
    width: 88vw;
    border-top: 3px solid black;
    margin-left: 6vw;
}

.steps-wrapper{
  display: inline-block;
    width: 15.5vw;
    height: 10vw;
    z-index: 1;
    margin-bottom: 5vw;
    text-align: center;
}

.steps{
   position: absolute;
    width: 3vw;
    height: 3vw;
    margin-top: -1.7vw;
    z-index: 1;
}

.route-text{
    display: inline-block;
    font-family: BentonSans-Regular;
    font-size: 2.8vw;
   margin-left: -1vw;
    margin-top: 4vw;
    margin-bottom: 8vw;
}

.visited{
opacity: 0.8;
width: 15.5vw;
}

.active{
opacity: 1;
}

.not-visited{
opacity: 0.5;
width: 15.5vw;
}


.departure-title{
	font-size: 4.3vw;
    font-family: BentonSans-Medium;
    margin-top: 8vw;
    margin-bottom: 9vw;
    opacity: 0.6;
}

.month-name-wrapper{
	width: 12vw;
    height: 6vw;
    font-size: 2vw;
    color: white;
    background-color: #12B1BF;
    border-radius: 7px;
    margin-bottom: 7vw;
    font-family: BentonSans-Regular;
}

.month-name{
	font-size: 3vw;
    display: inline-block;
    vertical-align: top;
    margin-top: 1vw;
}

.arrow{
	display: inline-block;
    width: 4vw;
    height: 3vw;
    margin-top: 1.4vw;
}

.month-name-middle{
	   font-size: 3.5vw;
    text-align: center;
    font-family: BentonSans-Medium;
    margin-top: 1vw;
}

.week-day{
	 display: inline-block;
    font-family: BentonSans-Regular;
    font-size: 3.5vw;
    margin-left: 3vw;
        width: 7vw;
        opacity: 0.5;
}

.normal-button{
	display: inline-block;
    font-family: BentonSans-Regular;
    font-size: 4vw;
    margin-left: 3vw;
    width: 7vw;
    text-align: center;
}

.highlight-button{
	display: inline-block;
    width: 7vw;
    margin-left: 3vw;
    padding-left: 1vw;
    height: 5.5vw;
    background-color: #F5B303;
    color: white;
    border-radius: 7px;
     font-size: 4vw;
}

.arrow-button-wrapper{
       width: 45vw;
    height: 13vw;
    background-color: #7C7C7C;
    border-radius: 14px;
    margin-top: 39vw;
    margin-left: 0vw;
}

.arrow-button-text{
    display: inline-block;
    font-size: 4.5vw;
    font-family: BentonSans-Regular;
    color: white;
    padding-top: 4vw;
    padding-left: 5vw;
}

.arrow-button{
    display: inline-block;
    width: 12vw;
    height: 6vw;
    vertical-align: bottom;
    margin-left: 8vw;
}

.next-cancel-button{
  width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vw;
    height: 15vw;
    font-size: 4vw;
    font-family: BentonSans-Regular;
    text-align: center;
    margin-bottom: 2vw;
    border-radius: 5px;
}

.selected-button{
    background-color: #12B1BF;
    color: white;
    font-size: 4.5vw;
    margin-top: 17vw;
}