

.image-container{
	background-image:url("./assests/mountain.jpg");
  width:100vw;
  height:100vh;
	background-size:cover;
	background-repeat:no-repeat;
	/*position:relative;*/
}

.rectangle-container{
  display:inline-block; 
}

.title{
    width:23.2vw;
    display: inline-block;
    height:5.066666666666666vw;
    color: #ffffff;
    font-weight: 500;
    /*position: absolute;*/
    font-size:5.333333333333333vw;
    margin-left:28.266666666666666vw;
    margin-top:4.266666666666667vw;

}

.rectangle1{
  /*position: absolute;*/
  width:6.4vw;
  height: 0.5333333333333333vw;
  background-color: #ffffff;
  margin-left:3.7333333333333334vw;
  margin-top:3.7333333333333334vw;
  background-color: #ffffff;
  
}
.rectangle2{
  margin-top:1.6vw;
  /*position: absolute;*/
   width:6.4vw;
   height: 0.5333333333333333vw;
 margin-left:3.7333333333333334vw;
  background-color: #ffffff;   
}
.rectangle3{
  position: absolute;
   width:6.4vw;
  margin-top:1.6vw;
 margin-left:3.7333333333333334vw;
  height: 0.5333333333333333vw;
  background-color: #ffffff;
}

.search{
 display: inline-block;
    position: absolute;
    width: 6.4vw ;
    height:6.4vw ;
    margin-left:  28.8vw;
   margin-top: 3.2vw;
}

.search img{
  width:100%;
  height: 100%;
}

.first-line{
 width:100vw;
 margin-top: 2.3952095808383236vh;
 /*position: absolute;*/
 height: 0.14970059880239522vh;
background-color: #ffffff;
}

.-off-on-all-tours{
  width: 44.8vw;
  font-family: BentonSans;
  font-size: 5.333333333333333vw;
  height:11.227544910179642vh;
  text-align: left;
  color: #ffffff;
  margin-left:4.533333333333333vw;
  margin-top:30.38922155688623vh; 
  /*position:absolute; */
  opacity:0.7;
}

.Discover-all-thats{
    width: 72.8vw;
    height: 17.964071856287426vh;
    font-family: BentonSans;
    font-size: 8.533333333333333vw;
    font-weight: 500;
    color: #ffffff;
    margin-top:4.041916167664671vh;
    /*position: absolute;*/
   margin-left:4.533333333333333vw;
}

.line{
   	margin-top:3.5928143712574854vh;
    height:0.14970059880239522vh;
    margin-left: 3.7333333333333334vw;
    width:73.33333333333333vw;
    /*position: absolute;*/
    background-color: #ffffff;
}

.VIEW-TOURS {
    width: 26.4vw;
    display: inline-block;
    height: 3.5928143712574854vh;
    font-family: BentonSans;
    font-size: 4.266666666666667vw;
    text-align: left;
    color: #ffffff;
    /*position: absolute;*/
    margin-top:3.8922155688622757vh;
    margin-left: 8.533333333333333vw; 
    opacity:0.7;
}

.right-arrow{
    display: inline-block;
    /*position: absolute;*/
   margin-left:2.6666666666666665vw;
   margin-top:3.8922155688622757vh;
    width:2.1333333333333333vw;
    height: 2.0958083832335332vh;
     color: #ffffff;
}

.right-arrow img{
  width:100%;
  height:100%;
}


.path-container{
width:100vw;
}

.how-it-works{
    /*width: 38.13333333333333vw; */
    height: 0.43412608531521324vh;
    text-align: center;
    /* font-size: 6.4vw; */
    font-size: 6.4vw;
    /* margin-left: 30.933333333333334vw; */
    color: #000000;
    margin-top: 4.132503vh;
  
}

.path-image{
  background-image:url("./assests/path.png"); 
    width:100vw;
    background-repeat: no-repeat;
    background-size: 41% 83%;
    background-position: 48% 54%;
   margin-top: 9vh;

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height:100vw;*/
    height: 163vw;
    /*margin-top: 20%;*/
    position:relative; 
}
/*.path-image img{
width:100%;
height:100%;
}*/

.path-destinations{
   top: 113vh;
   /*width: 42vw;*/
   width:37.06666666666667vw;
    height:24vw;
   /*height: 7vh;*/
    position: absolute;
    left: 6.933333333333334vw;
}

.path-destinations img{
  width:100%;
  height:100%;
}

.num1{
   display: inline-block;
   /* width: 6vw;
   height: 3vh;*/
   width:4.533333333333333vw;
   height: 4.533333333333333vw;
    /*top: 120.5vh;*/
    top: 127.5vh;
    /*left: 2vw;*/
     left: 6.933333333333334vw;
    position: absolute;
}

.num1 img{
  width:100%;
  height:100%;
}
  

.pick{
  display: inline-block;
  font-size: 4.266666666666667vw;
    /*top: 120.5vh;*/
    top: 127.5vh;
    /*left: 10vw;*/
    left: 14vw;
    position: absolute;
}

.choose{
   /* width: 42vw;
   height: 7vh;*/
   width:37.06666666666667vw;
    height:24vw;
    position: absolute;
   top: 128vh;
    left: 52vw;
}
.choose img{
  width: 100%;
  height:100%;
}
.num2{
   display: inline-block;
  /*width:4.533333333333333vw;
   height: 4.533333333333333vw;*/
    width:4.533333333333333vw;
   /*height: 4.533; */
    height: 4.533333333333333vw;
      top: 142vh;
   /* top: 129vh;*/
    position: absolute;
    left:57.06666666666667vw;
}

.num2 img{
  width:100%;
  height:100%;
}

.choose-text{
  display: inline-block;
  position: absolute;
top: 142vh;
 font-size: 4.266666666666667vw;
    left: 64vw;
}


.flights{
   /*width: 42vw;
   height: 7vh;*/
    width:37.06666666666667vw;
    height:24vw;
    position: absolute;
   top: 144vh;
   left: 6.933333333333334vw;
}
.flights img{
  width: 100%;
  height:100%;
}

.num3{
    display: inline-block;
  /*  width: 6vw;
   height: 3vh;*/
    width:4.533333333333333vw;
   height: 4.533333333333333vw;
  top: 157vh;
   left: 6.933333333333334vw;
    position: absolute;
}

.num3 img{
  width:100%;
  height:100%;
}

.add-flights{
  display:inline-block;
  position:absolute;
  top: 157vh;
  font-size: 4.266666666666667vw;
   left: 14vw;
}

.hotel{
  /*width: 42vw;
   height: 7vh;*/
    width:37.06666666666667vw;
    height:24vw;
    position: absolute;
  top: 158vh;
    left: 52vw;
}
.hotel img{
  width: 100%;
  height:100%;
}
.num4{
    display: inline-block;
   /* width: 6vw;
   height: 3vh;*/
    width:4.533333333333333vw;
   height: 4.533333333333333vw;
      top: 171vh;
    position: absolute;
   left: 57.06666666666667vw;
}

.num4 img{
  width:100%;
  height:100%;
}

.select-hotel{
  display: inline-block;
  position: absolute;
    top: 171vh;
  left: 64vw;
  font-size: 4.266666666666667vw;
}

.activities{
  /* width: 42vw;
    height: 7vh;*/
     width:37.06666666666667vw;
    height:24vw;
   top:174vh;
    position: absolute;
    left: 6.933333333333334vw;
}

.activities img{
  width:100%;
  height:100%;
}

.num5{
    display: inline-block;
    /* width: 6vw;
    height: 3vh;*/
     width:4.533333333333333vw;
   height: 4.533333333333333vw;
   top: 189vh;
    left: 6.933333333333334vw;
    position: absolute;
}

.num5 img{
  width:100%;
  height:100%;
}
  

.pick-activities{
  display:inline-block;
  top: 189vh;
   font-size: 4.266666666666667vw;
  left: 14vw;
  position: absolute;
}

.pack{
  /* width: 42vw;
   height: 7vh;*/
    width:37.06666666666667vw;
    height:24vw;
    position: absolute;
  top: 190vh;
    left: 52vw;
}
.pack img{
  width: 100%;
  height:100%;
}
.num6{
    display: inline-block;
  /* width: 6vw;
    height: 3vh;*/
     width:4.533333333333333vw;
   height: 4.533333333333333vw;
  top: 203vh;
    position: absolute;
   left: 57.06666666666667vw;
}

.num6 img{
  width:100%;
  height:100%;
}

.pack-travel{
  display: inline-block;
  position: absolute;
   font-size: 4.266666666666667vw;
 top: 203vh;
 left: 64vw;
}

.popular-destinations-container{
  /*position: relative;*/
  /*height:400px;*/
}

.diff{
    width:  53.333333333333336vw;
    height: 0.03775009437523594vh;
        margin-top: 36vw;
    margin-left:23.2vw;
    border: solid 0.6px #dddddd;
}

  .popular-title{
    height: 0.43412608531521324vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 4.132503vh;
  }

  .dubai-image{
    width:  41.86666666666667vw;
    height: 62.93333333333333vh;
    position: relative;
    margin-top: 10.666666666666666vh;
    margin-left:5.333333333333333vw;
    display: inline-block;
  }

   .dubai-image img{
    width: 100%;
    height:100%;
   }

  .dubai-text{
    width:12vw;
    height:4vw;
    font-size: 4.266666666666667vw;
    text-align: left;
    position: absolute;
    top:46.13333333333333vw;
    left:2.6666666666666665vw;
    color: #ffffff;
        
  }

   .dubai-line{
   width:36.53333333333333vw;
   height:0.26666666666666666vw;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top:51.46666666666667vw;
   left:2.6666666666666665vw;
   position: absolute;
   }

   .dubai-tours{
   /*width:13.4vw;*/
   height:2.933333333333333vw;
  top: 54.066667vw;
   left:2.6666666666666665vw ;
   font-size:3.2vw;
  text-align: left;
  position: absolute;
  color: #ffffff; 
      opacity: 0.6;
   }

   .dubai-price{
  /*width:22.533333vw;*/
   height:2.933333333333333vw;
  top: 62.333333vw;
   left:2.6666666666666665vw ;
    position: absolute;
     color: #ffffff; 
     font-size: 3.2vw;
         opacity: 0.6;
   }

   .bali-image{
    display: inline-block;
    width:41.86666666666667vw;
    height: 62.93333333333333vh;
    position: relative;
    margin-top:10.666666666666666vh;
    margin-left:5.333333333333333vw;

  }

   .bali-image img{
    width: 100%;
    height:100%;
   }

.bali-text{
 position: absolute;
 font-size: 4.266666666666667vw;
 width:7.733333333333333vw;
 height:4vw;
  left:2.6666666666666665vw;
    color: #ffffff;
  top:46.13333333333333vw;
      
}

.bali-line{
   width:36.53333333333333vw;
   height:0.26666666666666666vw;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top:51.46666666666667vw;
   left:2.6666666666666665vw;
   position: absolute;
       opacity: 0.6;
}
.bali-tours{
   /*width:13.4vw;*/
   height:2.933333333333333vw;
   top: 54.066667vw;
   left:2.6666666666666665vw ;
   font-size:3.2vw;
  text-align: left;
  position: absolute;
  color: #ffffff; 
      opacity: 0.6;
}
.bali-price{
  /*width:22.533333vw;*/
   height:2.933333333333333vw;
   top: 62.333333vw;
   left:2.6666666666666665vw ;
    position: absolute;
     color: #ffffff; 
     font-size: 3.2vw;
         opacity: 0.6;
}

.maldives-image{
    display: inline-block;
    width:41.86666666666667vw;
    height: 62.93333333333333vh;
    position: relative;
    margin-top: 5.333333333333333vw;
    margin-left:5.333333333333333vw;

  }

   .maldives-image img{
    width: 100%;
    height:100%;
   }


   .maldives-text{
 position: absolute;
 width:18.133333333333333vw;
 font-size: 4.266666666666667vw;
 height:4vw;
  left:2.6666666666666665vw;
    color: #ffffff;
  top:46.13333333333333vw;
     
}

.maldives-line{
   width:36.53333333333333vw;
   height:0.26666666666666666vw;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top:51.46666666666667vw;
   left:2.6666666666666665vw;
   position: absolute;
       opacity: 0.6;
}
.maldives-tours{
   /*width:13.4vw;*/
   height:2.933333333333333vw;
   top: 54.066667vw;
   left:2.6666666666666665vw ;
   font-size:3.2vw;
  text-align: left;
  position: absolute;
  color: #ffffff; 
      opacity: 0.6;
}
.maldives-price{
  /*width:22.533333vw;*/
   height:2.933333333333333vw;
   top: 62.333333vw;
   left:2.6666666666666665vw ;
    position: absolute;
     color: #ffffff; 
     font-size: 3.2vw;
         opacity: 0.6;
}


.malaysia-image{
    display: inline-block;
    font-size: 4.266666666666667vw;
    width:41.86666666666667vw;
    height: 62.93333333333333vh;
    position: relative;
    margin-top: 5.333333333333333vw;
    margin-left:5.333333333333333vw;

  }

   .malaysia-image img{
    width: 100%;
    height:100%;
   }


   .malaysia-text{
 position: absolute;
 width:18.133333333333333vw;
 height:4vw;
  left:2.6666666666666665vw;
    color: #ffffff;
  top:46.13333333333333vw;
      
}

.malaysia-line{
   width:36.53333333333333vw;
   height:0.26666666666666666vw;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top:51.46666666666667vw;
   left:2.6666666666666665vw;
   position: absolute;
       opacity: 0.6;
}
.malaysia-tours{
   /*width:13.4vw;*/
   height:2.933333333333333vw;
  top: 54.066667vw;
   left:2.6666666666666665vw ;
   font-size:3.2vw;
  text-align: left;
  position: absolute;
  color: #ffffff; 
      opacity: 0.6;
}
.malaysia-price{
  /*width:22.533333vw;*/
   height:2.933333333333333vw;
  top: 62.333333vw;
   left:2.6666666666666665vw ;
    position: absolute;
     color: #ffffff; 
     font-size: 3.2vw;
         opacity: 0.6;
}



.new-zealand-image{
    display: inline-block;
    width:41.86666666666667vw;
    height: 62.93333333333333vh;
    position: relative;
    margin-top: 5.333333333333333vw;
    margin-left:5.333333333333333vw;

  }

   .new-zealand-image img{
    width: 100%;
    height:100%;
   }


   .new-zealand-text{
    font-size: 4.266666666666667vw;
 position: absolute;
 width: 26.4vw;
 height:4vw;
  left:2.6666666666666665vw;
    color: #ffffff;
  top:46.13333333333333vw;
     
}

.new-zealand-line{
   width:36.53333333333333vw;
   height:0.26666666666666666vw;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top:51.46666666666667vw;
   left:2.6666666666666665vw;
   position: absolute;
       opacity: 0.6;
}
.new-zealand-tours{
   /*width:13.4vw;*/
   height:2.933333333333333vw;
  top: 54.066667vw;
   left:2.6666666666666665vw ;
   font-size:3.2vw;
  text-align: left;
  position: absolute;
  color: #ffffff; 
      opacity: 0.6;
}
.new-zealand-price{
  /*width:22.533333vw;*/
   height:2.933333333333333vw;
   top: 62.333333vw;
   left:2.6666666666666665vw ;
    position: absolute;
     color: #ffffff; 
     font-size: 3.2vw;
         opacity: 0.6;
}


.thailand-image{
    display: inline-block;
    width:41.86666666666667vw;
    height: 62.93333333333333vh;
    position: relative;
    margin-top: 5.333333333333333vw;
    margin-left:5.333333333333333vw;

  }

   .thailand-image img{
    width: 100%;
    height:100%;
   }


   .thailand-text{
     font-size: 4.266666666666667vw;
 position: absolute;
 width: 17.866666666666667vw;
 height:4vw;
  left:2.6666666666666665vw;
    color: #ffffff;
  top:46.13333333333333vw;
     
}

.thailand-line{
   width:36.53333333333333vw;
   height:0.26666666666666666vw;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top:51.46666666666667vw;
   left:2.6666666666666665vw;
   position: absolute;
       opacity: 0.6;
}
.thailand-tours{
   /*width:13.4vw;*/
   height:2.933333333333333vw;
    top: 54.066667vw;
   left:2.6666666666666665vw ;
   font-size:3.2vw;
  text-align: left;
  position: absolute;
  color: #ffffff; 
      opacity: 0.6;
}
.thailand-price{
  /*width:22.533333vw;*/
   height:2.933333333333333vw;
  top: 62.333333vw;
   left:2.6666666666666665vw ;
    position: absolute;
     color: #ffffff; 
     font-size: 3.2vw;
         opacity: 0.6;
}



.mauritius-image{
    display: inline-block;
    width:41.86666666666667vw;
    height: 62.93333333333333vh;
    position: relative;
    margin-top: 5.333333333333333vw;
    margin-left:5.333333333333333vw;


  }

   .mauritius-image img{
    width: 100%;
    height:100%;
   }


   .mauritius-text{
    font-size: 4.266666666666667vw;
 position: absolute;
 width:19.466666666666665vw;
 height:4vw;
  left:2.6666666666666665vw;
    color: #ffffff;
  top:46.13333333333333vw;
     
}

.mauritius-line{
   width:36.53333333333333vw;
   height:0.26666666666666666vw;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top:51.46666666666667vw;
   left:2.6666666666666665vw;
   position: absolute;
       opacity: 0.6;
}
.mauritius-tours{
   /*width:13.4vw;*/
   height:2.933333333333333vw;
   top: 54.066667vw;
   left:2.6666666666666665vw ;
   font-size:3.2vw;
  text-align: left;
  position: absolute;
  color: #ffffff; 
      opacity: 0.6;
}
.mauritius-price{
  /*width:22.533333vw;*/
   height:2.933333333333333vw;
    top: 62.333333vw;
   left:2.6666666666666665vw ;
    position: absolute;
     color: #ffffff; 
     font-size: 3.2vw;
         opacity: 0.6;
}

.australia-image{
    display: inline-block;
    width:41.86666666666667vw;
    height: 62.93333333333333vh;
    position: relative;
    margin-top: 5.333333333333333vw;
    margin-left:5.333333333333333vw;

  }

   .australia-image img{
    width: 100%;
    height:100%;
   }


   .australia-text{
    font-size: 4.266666666666667vw;
 position: absolute;
 width:26.4vw;
 height:4vw;
  left:2.6666666666666665vw;
    color: #ffffff;
  top:46.13333333333333vw;
     
}

.australia-line{
   width:36.53333333333333vw;
   height:0.26666666666666666vw;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top:51.46666666666667vw;
   left:2.6666666666666665vw;
   position: absolute;
       opacity: 0.6;
}
.australia-tours{
   /*width:13.4vw;*/
   height:2.933333333333333vw;
     top: 54.066667vw;
   left:2.6666666666666665vw ;
   font-size:3.2vw;
  text-align: left;
  position: absolute;
  color: #ffffff; 
      opacity: 0.6;
}
.australia-price{
  /*width:22.533333vw;*/
   height:2.933333333333333vw;
    top: 62.333333vw;
   left:2.6666666666666665vw ;
    position: absolute;
     color: #ffffff; 
     font-size: 3.2vw;
         opacity: 0.6;
}

.diff{
    width:  53.333333333333336vw;
    /*position: absolute;*/
    height: 0.03775009437523594vh;
      margin-top: 24vw;
    margin-left:23.2vw;
    border: solid 0.6px #dddddd;
}

.customizable-title{
    height: 0.43412608531521324vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
   margin-top: 4.132503vh;
}





.Customisable-Tours {
    width: 100vw;
}


.Customisable-Tours-title {
    /*width: 84vw;*/
    font-size: 6.4vw;
    height: 6.133333333333334vw;
    text-align: center;
}

.amazing-australia {
    width: 89.6vw;
    margin-left: auto;
    margin-right: auto;
    height: 46.666666666666664vw;
    position: relative;
    /*margin-left: 5.333333333333333vw;*/
   margin-top: 14.933333vw;
}

.amazing-australia img {
    width: 100%;
    height: 100%;
}

.trip-plan{
   position: absolute;
   font-size: 3.2vw;
   height:  2.933333333333333vw;
   font-weight: 500;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  /*margin-top:  3.466666666666667vw;*/
   top: 3.466666666666667vw;
  left: 55vw;
}

.pic-text {
    font-size: 5.333333333333333vw;
    position: absolute;
    top: 17.066666666666666vw;
    left: 21.6vw;
    color: #ffffff;
    font-weight: 500;
}

.pic-text2 {
    font-size: 3.7333333333333334vw;
    position: absolute;
    top: 25.066666666666666vw;
    left: 29.333333333333332vw;
    color: #ffffff;
    font-weight: 500;
}

.inside-box {
    display: inline-block;
    width: 18.133333333333333vw;
    height: 8vw;
   /*top: 800.933333vw;*/
   margin-top: -2vh;
    left: 8.666667vw;
    position: absolute;
     border: solid 1px #f5b303;
    background-color: #ffffff;
    border-radius: 2px;
     border-radius: 2px;
     background-color: #ffffff;
     z-index: 1;
}

.star{
background-image: url("./assests/star.png");
background-size: cover;
display: inline-block;
width:4vw;
height: 3.7333333333333334vw;
margin-top:1.8666666666666667vw;
margin-left: 1.933333vw;
/*margin-left:  3.266667vw;*/
}

.star1{
background-image: url("./assests/star.png");
background-size: cover;
display: inline-block;
width:4vw;
height: 3.7333333333333334vw;
margin-top:1.8666666666666667vw;
margin-left: 0.26666666666666666vw;
}

.star2{
background-image: url("./assests/greystar.png");
background-size: cover;
display: inline-block;
width:4vw;
height: 3.7333333333333334vw;
margin-top:1.8666666666666667vw;
margin-left: 1.8666666666666667vw;
 /*background-color: #b0b0b0;*/
}

.star3{
background-image: url("./assests/greystar.png");
background-size: cover;
display: inline-block;
width:4vw;
height: 3.7333333333333334vw;
margin-top:1.8666666666666667vw;
margin-left: -0.733333vw;
 /*background-color: #b0b0b0;*/
/*color: #b0b0b0;*/
}

.star4{
background-image: url("./assests/greystar.png");
background-size: cover;
display: inline-block;
width:4vw;
height: 3.7333333333333334vw;
margin-top:1.8666666666666667vw;
 /*background-color: #b0b0b0;*/
margin-left: 2vw;;
/*color: #b0b0b0;*/
}

.price3000{
  margin-left: 1.733333vw;
  display: inline-block;
  font-size: 3.2vw;
  margin-top: 2.6666666666666665vw;
}

.inside-box2{
    display: inline-block;
     /*border: 1px solid black;*/
     background-color: #ffffff;
     width: 66.13333333333334vw;
     height: 8vw;
  /*  top: 800.933333vw;*/
   margin-top: -2vh;
     /*border: 2px solid black;*/
     position: absolute;
     border-radius: 2px;
     left:27vw;
      border-radius: 2px;
  background-color: #ffffff;
  z-index: 1;
}


.rectangle {
    position: relative;
    width: 89.6vw;
    height: 43.733333333333334vw;
    /*margin-left: 5.333333333333333vw;*/
    margin-left: auto;
    margin-right: auto;
    /*border: 2px solid black;*/
     background-color: #ffffff;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.gold{
  font-size: 3.2vw;
  height: 5.333333333333333vw;
  margin-top: 8.8vw;
  font-weight: 500;
  line-height: 1.67;
  text-align: left;
  color: #000000;
  /*margin-left: 2vw;*/
      margin-left: 2vw;
  display: inline-block;
}

.gold span{
   color: #f5b303;
}

.borders{
   display: inline-block;
  width: 0.5333333333333333vw;
  margin-top: 8.8vw;
  height: 3.2vw;
  border: solid 1px #b0b0b0;
 margin-left: 0.666667vw;
}

.sydney{
  font-size: 3.2vw;
  height: 5.333333333333333vw;
  margin-top: 8.8vw;
  font-weight: 500;
  line-height: 1.67;
  text-align: left;
  color: #000000;
   /*margin-left: 2vw;*/
       margin-left: 0vw;
  display: inline-block;
}

.sydney span{
   color: #f5b303;
}

.perth{
  font-size: 3.2vw;
  height: 5.333333333333333vw;
  margin-top: 8.8vw;
  font-weight: 500;
  line-height: 1.67;
  text-align: left;
  color: #000000;
  /*margin-left: 2vw;*/
      margin-left: 0vw;
  display: inline-block;
}

.perth span{
   color: #f5b303;
}

.mel{
  font-size: 3.2vw;
  height: 5.333333333333333vw;
  margin-top: 1.3333333333333333vw;
  font-weight: 500;
  line-height: 1.67;
  text-align: left;
  color: #000000;
  /*margin-left:4vw;*/
     margin-left: 2vw;
  
}

.mel span{
   color: #f5b303;
}

.rectangle-image{
 /*width: 6.733333vw;*/
    /*height: 5.733333vw;*/
   width:6vw;
   height:3vh;
   background-size: cover;
    margin-left: 3vw;
    margin-top: 1.5vh;
  background-image: url("./assests/aeroplane.png");
  display: inline-block;
  /*width:5vw;*/
   /*opacity: 0.5;*/
  /*background-color:#000000;*/
}

/*.rectangle-image img{
  width:100%;
  height:100%;
  display: inline-block;
}*/

.two-flights{
 display: inline-block;
  margin-top: 2vh;

}

.rectangle-image2{
  width:6vw;
   height:3vh;
   background-size: cover;
    margin-left: 3vw;
    margin-top: 2vh;
  background-image: url("./assests/car.png");
  display: inline-block;
}

.rectangle-image3{
  width:6vw;
   height:3vh;
   background-size: cover;
    margin-left: 3vw;
    margin-top: 2vh;
  background-image: url("./assests/hotel2.png");
  display: inline-block;
}

.rectangle-image4{
  width:6vw;
   height:3vh;
   background-size: cover;
    margin-left: 3vw;
    margin-top: 2vh;
  background-image: url("./assests/breakfast.png");
  display: inline-block;
}


.rectangle-image5{
  width:6vw;
   height:3vh;
   background-size: cover;
    margin-left: 3vw;
    margin-top: 2vh;
  background-image: url("./assests/paratrooper.png");
  display: inline-block;
}

.more-tours{
    width: 33vw;
    height: 9.066666666666666vw;
    height: 6.434126vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 7.132503vh;
    background-color: #12b1bf;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.67;

}

.diff{
    width: 53.333333333333336vw;
    /* position: absolute; */
    height: 0.03775009437523594vh;
    margin-top: 24vw;
    margin-left: 23.2vw;
    border: solid 0.6px #dddddd;
  }

  .book-with-us-title{
    height: 0.43412608531521324vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 4.132503vh;
  }

  .personal-holiday{
    background-image: url("./assests/personal-travel.png");
    width:34.4vw;
    height:18.666666666666668vw;
    background-repeat: no-repeat;
    margin-top:16vw;
    margin-left: 10.666666666666666vw;
    display: inline-block;
  }
  .better-deals{
   background-image: url("./assests/better-deals.png");
    width:34.4vw;
    height:18.666666666666668vw;
    background-repeat: no-repeat;
    margin-top:16vw;
     margin-left:10.133333333333333vw;
     display: inline-block;

}
.Personalized-holiday{
font-size: 3.7333333333333334vw;
margin-left: 11.2vw;
display: inline-block;

}
.Better-deals1{
font-size: 3.7333333333333334vw;
display: inline-block;
margin-left: 11.2vw;
}

.trans-holiday{
background-image: url("./assests/trans.png");
    width:34.4vw;
    height:18.666666666666668vw;
    background-repeat: no-repeat;
    margin-top:16vw;
    margin-left: 10.666666666666666vw;
    display: inline-block;
}

.travel-expert{
   background-image: url("./assests/travel-expert.png");
    width:34.4vw;
    height:18.666666666666668vw;
    background-repeat: no-repeat;
    margin-top:16vw;
     margin-left:10.133333333333333vw;
     display: inline-block;
}

.multiple{
background-image: url("./assests/multiple.png");
    width:34.4vw;
    height:18.666666666666668vw;
    background-repeat: no-repeat;
    margin-top:16vw;
    margin-left: 10.666666666666666vw;
    display: inline-block;
}

.quality{
  background-image: url("./assests/quality.png");
    width:34.4vw;
    height:18.666666666666668vw;
    background-repeat: no-repeat;
    margin-top:16vw;
    margin-left: 10.666666666666666vw;
    display: inline-block;
}


.Blogs-container{

  overflow-x: scroll;
  width:100vw;
   white-space: nowrap;
   overflow-y: hidden;
   height: 67vh;
}
.Blogs-and-articles{
  display: inline-block;
   white-space: normal;
}

.Blogs-and-articles-title{
    height: 0.43412608531521324vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 4.132503vh;
}

.blog-mountain{
 background-image: url("./assests/mountain2.jpg");
 width:80.8vw;
 height: 48vw;
 background-size: cover;
 background-repeat: no-repeat;
 margin-left: 5.066666666666666vw;
 margin-top: 10.666666666666666vw;
}

.rectangle-blog{
  width:80.8vw;
 height: 48vw;
 margin-left: 5.066666666666666vw;
 background-color: #ffffff;
  box-shadow: 1px 1px 16px 0 rgba(194, 194, 194, 0.5);
}

.las-vegas{
 font-size:5.333333333333333vw;
  margin-left: 4.533333333333333vw;
 padding-top: 4.066667vw;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #000000;
}
 
 .rect-text{
  width: 69.933333vw;
  margin-top: 2.933333333333333vw;
  font-size:  4.266666666666667vw;
  margin-left: 4.533333333333333vw;
   opacity: 0.4;
   color: #000000;
 }

.text1{
  font-size:5.866666666666666vw;
   letter-spacing: 1.1px;
  text-align: center;
  color: #12b1bf;
}

.text{
  font-size: 3.466666666666667vw;
   font-weight: bold;
   margin-top: 6.4vw;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
}

.facebook{
  background-image: url(./assests/facebook.png);
    display: inline-block;
    width: 10.466667vw;
    height: 9.933333vw;
    margin-top: 21.933333vw;
    margin-left: 22.4vw;
    margin-bottom: 10vh;
    background-repeat: no-repeat;
}

.instagram{
  background-image: url(./assests/instagram.png);
    display: inline-block;
    width: 10.466667vw;
    height: 9.933333vw;
    margin-top: 21.933333vw;
   margin-left: 11.4vw;
    margin-bottom: 10vh;
    background-repeat: no-repeat;
}

.twitter{
 background-image: url(./assests/twitter.png);
    display: inline-block;
    width: 10.466667vw;
    height: 9.933333vw;
    margin-top: 21.933333vw;
    margin-left: 11.4vw;
    margin-bottom: 10vh;
    background-repeat: no-repeat;
}