.container{
	width:auto;
}
@font-face {
    font-family:BentonSans-Medium;
    src: url("./assests/BentonSans-Medium.otf");
}

@font-face {
    font-family:BentonSans-Regular;
    src: url("./assests/BentonSans-Regular.otf");
}

.image-responsive{
	width:100%;
	height:100%;
}

.dubai-hotels{
	background-color: #12b1bf;
}

.arrow-image{
	width: 7vw;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0vh;
}

.dubai-hotel-text1{
   font-size: 4vw;
    padding-top: 2vw;
    color: white;
     font-family:BentonSans-Medium;
}

.dubai-hotel-text2{
font-size: 3.5vw;
color: white;
padding-bottom: 1vh;
  font-family:BentonSans-Regular;
}

.reset-text{
font-size: 3.5vw;
    padding-top: 2.5vh;
    color: white;
     font-family:BentonSans-Medium;
}
.text-container{
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
}

.title{
	font-size: 3.5vw;
    margin-top: 2vh;
    margin-bottom: 2.2vh;
   font-family:BentonSans-Medium;
}

.price-no{
	display: inline-block;
	font-size: 3.9vw;
	  font-family:BentonSans-Regular;
	  opacity: 0.5;
}

.price-no2{
	display: inline-block;
	margin-left: 28vw;
	font-size: 3.9vw;
	  font-family:BentonSans-Regular;
	   opacity: 0.5;
}

.price-button-line1{
	display: inline-block;
	position: relative;
   width: 6vw;
   border-top:3px solid black;
   opacity: 0.5;
    margin-top: 3vh;
}

.price-button{
	position: absolute;
    width: 4vw;
    height: 2.5vh;
    top: -1.4vh;
    left: 3.3vw;
}

.price-button-line2{
	display: inline-block;
	position: relative;
width: 38vw;
border-top:3px solid #12b1bf;
/*background-color: #12b1bf;*/
}

.price-button2{
	    position: absolute;
    width: 4vw;
    height: 2.5vh;
    top: -1.4vh;
    left: 36.3vw;
}

.price-button-line3{
	display: inline-block;
width: 42vw;
border-top:3px solid black;
opacity: 0.5;
}

hr {
    margin-top: 76px !important;
   margin-bottom: 11px !important;
    border: 0;
    border-top: 5px solid #eee;
}

.hotel-button{
	display: inline-block;
    width: 4vw;
    height: 2.5vh;
}

.hotel-category{
	display: inline-block;
    font-size: 4vw;
    vertical-align: middle;
    margin-left: 2vw;
      font-family:BentonSans-Regular;
    opacity: 0.7;
}

.right-mark-image{
   width: 6vw;
    height: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.1vh;
    border: 1px solid black;
   border-radius: 2px;
}

.right-mark-highlight-image{
   width: 6vw;
    height: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.1vh;
     background-color: #12b1bf;
     border-radius: 2px;
}

.text-value{
font-size: 3.9vw;
opacity: 0.5;
    margin-top: 1.1vh;
    font-family:BentonSans-Regular;
}

.highlight-text-value{
font-size: 3.9vw;
    margin-top: 1.1vh;
    font-family:BentonSans-Regular;
}

.apply-button{
	 font-size: 4.3vw;
    background-color: #12b1bf;
    color: white;
    text-align: center;
    width: 83vw;
    height: 12.266666666666667vw;
    padding-top: 3.5vw;
    margin-top: 13vw;
    margin-bottom: 8vw;
    margin-left: auto;
    margin-right: auto;
    font-family: BentonSans-Medium;
    }