
@font-face {
    font-family: BentonSans-Medium;
    src: url("./assests/BentonSans-Medium.otf");
}

@font-face {
    font-family: BentonSans-Regular;
    src: url("./assests/BentonSans-Regular.otf");
}

.dropdown-container{
  display: inline-block;
    width: 9.4vw;
    height: 6.4vw;
    margin-top: 5.2vw;
    margin-left: 3vw;   
}

.search{
    display: inline-block;
    width: 6.4vw;
    height: 6.4vw;
    margin-left: 74.8vw;
    margin-top: 5.2vw;
    color: #7e7e7e;
}

.image-container {
    background-image: url("./assests/dubai.jpg");
    width: 92vw;
    height: 146.66666666666666vw;
    margin-top: 4.533333333333333vw;
    margin-left: 3.5vw;
    margin-right: 4vw;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.header-title {
    font-size: 10.666666666666666vw;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding-top:68.26666666666667vw;
     font-family: BentonSans-Regular;
}

.entity {
        position: relative;
        color: #000000;
        text-align: left;
        min-height: 40px;
        margin-top: 0;
        font-size: 3vw;
    }

 .tours-list{
        width:92vw;
        margin-left: 2vw;
        border:0px solid;
         margin-top: 1.5vh;
    }
 .entity.slick-slide.slick-cloned{
    /*width:313 !important;*/
    /*height:6vw;*/
}
.entity.slick-slide.slick-active{
     width:254px !important;
}

  .entity h2{
    text-align: center;
  }
  

.header-line {
    width: 98vw;
    margin-top: 0.39521vh;
    margin-left: 3.5vw;
    height: 0.14970059880239522vh;
    background-color: #7e7e7e;
}

.customizable-title {
    height: 0.43412608531521324vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 121px;
     font-family: BentonSans-Regular;
}


.Customisable-Tours {
    width: 100vw;
}


.Customisable-Tours-title {
    font-size: 6.4vw;
    height: 6.133333333333334vw;
    text-align: center;
}

.customizable-image {
    width: 89.6vw;
    margin-left: auto;
    margin-right: auto;
    height: 46.666666666666664vw;
    position: relative;
    margin-top: 14.933333vw;
    text-align: center;
}

.customizable-image img {
    width: 100%;
    height: 100%;
}

.itinerary{
        margin-top: -63vw;
    width: 6vw;
    display: inline-block;
    margin-left: 21vw;
}


.trip-plan {
    font-size: 3.2vw;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: -407px;
    text-align: right;
    margin-right: 75px;
     font-family: BentonSans-Regular;
}

.pic-text {
    font-size: 5.333333333333333vw;
    color: #ffffff;
    font-weight: 500;
    margin-top: 85px;
      font-family: BentonSans-Medium;

}

.pic-text2 {
    font-size: 3.7333333333333334vw;
    margin-top: 12px;
    color: #ffffff;
    font-weight: 500;
      font-family: BentonSans-Medium;
}

.star-box {
    display: inline-block;
    height: 8vw;
    margin-top: -2vh;
    left: 9vw;
    position: absolute;
    background-color: #ffffff;
    border-radius: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    z-index: 1;
}

.star-holder {
    display: inline-block;
    padding-left: 25px;
    vertical-align: top;
    padding-top: 18px;
    padding-bottom: 13.8px;
    padding-right: 18.2px;
    border: solid 1px #f5b303;
}

.star-holder2 {
    display: inline-block;
    padding-left: 11px;
    vertical-align: top;
    padding-top: 14px;
    padding-bottom: 13.8px;
    padding-right: 8.2px;
    width: 20vw;
    height: 8vw;
    margin-left: 1vw;
}

.star-holder3 {
    display: inline-block;
    padding-left: 11px;
    vertical-align: top;
    padding-top: 17px;
    padding-bottom: 13.8px;
    padding-right: 8.2px;
    width: 25vw;
    height: 7.7vw;
}

.star {
    background-image: url("./assests/star.png");
    background-size: cover;
    display: inline-block;
    width: 4vw;
    height: 3.7333333333333334vw;
}



.price3000 {
   margin-left: 1.733333vw;
    display: inline-block;
    font-size: 3.2vw;
    vertical-align: top;
    padding-top: 16px;
        color: #000000;
          font-family: BentonSans-Medium;
}

.roundi{
    display: inline-block;
    width: 5vw;
    padding-right: 2vw;
}

.rectangle2 {
    position: relative;
    width: 89.6vw;
    height: 50.733333vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.5);
}

.gold {
    font-size: 3.2vw;
    height: 5.333333333333333vw;
    margin-top: 8.8vw;
    font-weight: 500;
    line-height: 1.67;
    text-align: left;
    color: #000000;
    margin-left: 6vw;
    display: inline-block;
     font-family: BentonSans-Medium;
}

.gold span {
    color: #f5b303;
}

.borders {
    display: inline-block;
    width: 0.5333333333333333vw;
    margin-top: 8.8vw;
    height: 3.2vw;
    border: solid 1px #b0b0b0;
    margin-left: 1.666667vw;
}

.sydney {
    font-size: 3.2vw;
    height: 5.333333333333333vw;
    margin-top: 8.8vw;
    font-weight: 500;
    line-height: 1.67;
    text-align: left;
    color: #000000;
    margin-left: 2vw;
    display: inline-block;
     font-family: BentonSans-Medium;
}

.sydney span {
    color: #f5b303;
}

.perth {
    font-size: 3.2vw;
    height: 5.333333333333333vw;
    margin-top: 8.8vw;
    font-weight: 500;
    line-height: 1.67;
    text-align: left;
    color: #000000;
    margin-left: 3vw;
    display: inline-block;
     font-family: BentonSans-Medium;
}

.perth span {
    color: #f5b303;
}

.mel {
    font-size: 3.2vw;
    height: 5.333333333333333vw;
    margin-top: 1.3333333333333333vw;
    font-weight: 500;
    line-height: 1.67;
    text-align: left;
    color: #000000;
    margin-left: 6vw;
     font-family: BentonSans-Medium;
}

.mel span {
    color: #f5b303;
}

.rectangle-image {
    width: 6vw;
    height: 3vh;
    background-size: cover;
    margin-left: 6vw;
    margin-top: 1.5vh;
    background-image: url("./assests/aeroplane.png");
    display: inline-block;
}


.two-flights {
    display: inline-block;
    margin-top: 2vh;
    font-size: 4vw;
    margin-left: 1vw;
     font-family: BentonSans-Regular;
}

.rectangle-image2 {
    width: 6vw;
    height: 3vh;
    background-size: cover;
    margin-left: 3vw;
    margin-top: 2vh;
    background-image: url("./assests/car.png");
    display: inline-block;
}

.rectangle-image3 {
    width: 6vw;
    height: 3vh;
    background-size: cover;
    margin-left: 3vw;
    margin-top: 2vh;
    background-image: url("./assests/hotel2.png");
    display: inline-block;
}

.rectangle-image4 {
    width: 6vw;
    height: 3vh;
    background-size: cover;
    margin-left: 7vw;
    margin-top: 2vh;
    background-image: url("./assests/breakfast.png");
    display: inline-block;
}


.rectangle-image5 {
    width: 6vw;
    height: 3vh;
    background-size: cover;
    margin-left: 3vw;
    margin-top: 2vh;
    background-image: url("./assests/paratrooper.png");
    display: inline-block;
}

.blue-button-container {
    width: 395px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.button-text {
    font-size: 3.2vw;
    margin-bottom: 10.666666666666666vw;
    height: 9.066666666666666vw;
    width: 42.666666666666664vw;
    font-weight: 500;
    line-height: 1.67;
    color: #ffffff;
    padding: 21px 27px 21px 27px;
    border-radius: 2px;
    background-color: #12b1bf;
    margin-top: 138px;
      font-family: BentonSans-Medium;
}


.diff {
    width: 53.333333333333336vw;
    height: 0.03775009437523594vh;
    margin-top: 24vw;
    margin-left: 23.2vw;
    border: solid 0.6px #dddddd;
}

.diff {
    width: 53.333333333333336vw;
    height: 0.03775009437523594vh;
    margin-top: 111px;
    margin-left: 23.2vw;
    border: solid 0.6px #dddddd;
}

.popular-title {
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 4.132503vh;
     font-family: BentonSans-Regular;
}

.Top-place-to-visit-text {
    font-size: 5.333333333333333vw;
    position: absolute;
    top: 29vw;
    left: 21vw;
    color: #ffffff;
      font-family: BentonSans-Medium;
}

.Top-place-to-visit-text2 {
    font-size: 5.333333333333333vw;
    position: absolute;
    top: 89vw;
    left: 16vw;
    color: #ffffff;
}


.Top-place-to-visit-text3 {
    font-size: 5.333333333333333vw;
    position: absolute;
    top: 29vw;
    left: 61vw;
    color: #ffffff;
}

.Top-place-to-visit-text4 {
    font-size: 5.333333333333333vw;
    position: absolute;
    top: 89vw;
    left: 69vw;
    color: #ffffff;
}

.gallery-container{
    width: 100%;
    height: 132vw;
    overflow: hidden;
}


.gallery {
    position: relative;
       margin-left: 0.2vw;
        text-align: center;
        margin-top: 0;
       width: 100vw !important;
       height: 122vw !important;
       margin-top: 8vw;
    }

    .slide-entity{
        width:44.8vw !important;
       height: 57.2vw !important;
        margin-top: 3vw;
       margin-left: 3vw;
    }

    .image-responsive{
        width: 100%;
        height:100%;
    }

    .slick-track {
        height: 40px;
    }

     h2{
        text-align: center;
    margin-top: 0;
    padding-top: 8px;
     }
     
     .slick-center{
        background-color:#12b1bf;
        color:white;
     }
     .slick-prev.slick-arrow{
        display: none !important;
     }
     .slick-next.slick-arrow{
        display: none !important;
    }

  .block1{
    display: inline-block;
  }

  .block2{
    display: inline-block;
  }


.gallery-left-arrow {
    background-image: url(./assests/back.png);
    width: 9vw;
    height: 7vh;
    position: absolute;
    top: 55vw;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}


.gallery-right-arrow {
    background-image: url(./assests/next.png);
    width: 9vw;
    height: 7vh;
    position: absolute;
    top: 55vw;
    left: 94vw;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
}

.experience-title {
    height: 4.434126vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 4.132503vh;
     font-family: BentonSans-Regular;
}

.top-experience-container {
    margin-top: 16vw;
}

.hemis-wrapper {
    margin-top: 1.933333vw;
}

.Top-place-image {
    width: 17.866666666666667vw;
    height: 17.866666666666667vw;
    display: inline-block;
    margin-top: 12.8vw;
    margin-left: 8.533333333333333vw;
}

.text-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 13vw;
    width: 40vw;
}

.title {
        font-size: 4.8vw;
    margin-left: 4.533333333333333vw;
    margin-top: 0.866667vh;
    font-weight: 500;
    color: #000000;
      font-family: BentonSans-Medium;
}

.small-description {
    width: 60vw;
    font-size: 3vw;
    margin-left: 4.533333333333333vw;
    margin-top: 1vh;
    opacity: 0.5;
    color: #000000;
     font-family: BentonSans-Regular;
}

.exp-line {
    width: 92.26666666666667vw;
    height: 0.03775009437523594vh;
    margin-left: 3.7333333333333334vw;
    border: solid 0.6px #dddddd;
    margin-top: 8.266666666666667vw;
}

.tips-title {
    height: 4.434126vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 7.132503vh;
     font-family: BentonSans-Regular;
}

.tip-suggestion-container {
    margin-top: 16vw;
}

.hemis-wrapper {
    margin-top: 1.933333vw;
}

.tip-suggestion-image {
    width: 21.333333333333332vw;
    height: 30.933333333333334vw;
    display: inline-block;
    margin-top: 14.8vw;
    margin-left: 3.7333333333333334vw;
}

.text-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 13vw;
    width: 40vw;
}

.newtitle {
    width: 64vw;
    font-size: 4.8vw;
    margin-left: 4.533333333333333vw;
    font-weight: 500;
    line-height: 1.56;
    color: #000000;
      font-family: BentonSans-Medium;
}

.newsmall-description {
    width: 60vw;
    font-size: 4vw;
    margin-left: 4.533333333333333vw;
    margin-top: 1vh;
    opacity: 0.5;
    line-height: 1.43;
    color: #000000;
     font-family: BentonSans-Regular;
}

.exp-line {
    width: 92.26666666666667vw;
    height: 0.03775009437523594vh;
    margin-left: 3.7333333333333334vw;
    border: solid 0.6px #dddddd;
    margin-top: 8.266666666666667vw;
}

.more-experience {
    width: 42.666666666666664vw;
    height: 9.066666666666666vw;
    border-radius: 2px;
    background-color: #12b1bf;
    font-size: 3.2vw;
    font-weight: 500;
    line-height: 1.67;
    color: #ffffff;
    text-align: center;
    padding-top: 4.8vw;
    margin-left: 28.533333333333335vw;
    margin-top: 10.666666666666666vw;
}

.month {
    margin-top: 11.466666666666667vw;
    height: 9.333333333333334vw;
}

.weather-title {
    height: 4.434126vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 7.132503vh;
     font-family: BentonSans-Regular;
}

.weather-image {
    height: 12vh;
    margin-top: 18.4vw;
}

.time-weather-text1 {
    margin-top: 40px;
    font-size: 4.8vw;
    text-align: center;
    color: #000000;
     font-family: BentonSans-Regular;
}

.time-weather-text2 {
    font-size: 5.333333333333333vw;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin-top: 20px;
      font-family: BentonSans-Medium;
}

.Blogs-container {
    overflow-x: scroll;
    width: 100vw;
    white-space: nowrap;
    overflow-y: hidden;
    height: 67vh;
}

.Blogs-container::-webkit-scrollbar { 
    display: none; 
}


.Blogs-and-articles {
    display: inline-block;
    white-space: normal;
}

.Blogs-and-articles-title {
    height: 0.43412608531521324vh;
    text-align: center;
    font-size: 6.4vw;
    color: #000000;
    margin-top: 60px;
     font-family: BentonSans-Regular;
}

.blog-mountain {
    background-image: url("./assests/alchi.jpg");
    width: 80.8vw;
    height: 48vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5.066666666666666vw;
    margin-top: 10.666666666666666vw;
}

.rectangle-blog {
    width: 80.8vw;
    height: 48vw;
    margin-left: 5.066666666666666vw;
    background-color: #ffffff;
    box-shadow: 1px 1px 16px 0 rgba(194, 194, 194, 0.5);
}

.las-vegas {
    font-size: 5.333333333333333vw;
    margin-left: 4.533333333333333vw;
    padding-top: 4.066667vw;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #000000;
      font-family: BentonSans-Medium;
}

.rect-text {
    width: 69.933333vw;
    margin-top: 2.933333333333333vw;
    font-size: 4.266666666666667vw;
    margin-left: 4.533333333333333vw;
    opacity: 0.4;
    color: #000000;
     font-family: BentonSans-Regular;
}

.text1 {
    font-size: 5.866666666666666vw;
    letter-spacing: 1.1px;
    text-align: center;
    color: #12b1bf;
    margin-top: 60.3px;
      font-family: BentonSans-Regular;
}

.text {
    font-size: 3.466666666666667vw;
    font-weight: bold;
    margin-top: 38.2px;
    margin-bottom: 24.2px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #000000;
      font-family: BentonSans-Medium;
}

.private-limited {
    opacity: 0.5;
    font-size: 41px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: 0.6px;
    text-align: center;
    color: #000000;
    margin-top: 49px;
    margin-bottom: 98px;
     font-family: BentonSans-Regular;
}

.facebook {
    display: inline-block;
    margin-bottom: 10vh;
    height: 6.933333333333334vw;
    width: 7.466667vw;
}

.image-responsive{
    width: 100%;
    height: 100%;
}

.instagram {
    display: inline-block;
    margin-bottom: 10vh;
    margin-left: 11.6vw;
    height: 6.933333333333334vw;
    width: 7.466667vw;
}

.twitter {
    display: inline-block;
    margin-left: 12.6vw;
    margin-bottom: 10vh;
    height: 6.933333333333334vw;
    width: 7.466667vw;
}

.active{
    background-color: #12b1bf;
    color: white;
}

.active2{
    background-color: rgba(232, 232, 232, 0.5);
        color: #000000;
}