.container{
	width:auto;
}
@font-face {
    font-family:BentonSans-Medium;
    src: url("./assests/BentonSans-Medium.otf");
}

@font-face {
    font-family:BentonSans-Regular;
    src: url("./assests/BentonSans-Regular.otf");
}

.image-responsive{
	width:100%;
	height:100%;
}

.bar-wrapper{
     width: 100vw;
    position: relative;
    height: 6vw;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.bar{
    display: inline-block;
    position: absolute;
   width: 19vw;
    height: 6vw;
}

.text-container{
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
}

.cross-image{
	width: 8vw;
    height: 8vw;
    margin-left: 79vw;
    margin-top:5vw;
    opacity: 0.4;
}

.departure-title{
	font-size: 4.5vw;
    font-family: BentonSans-Regular;
    margin-top: 2vw;
    margin-bottom: 6vw;
    opacity: 0.8;
}

.box{
    width: 38vw;
    height: 11vw;
    border: 2px solid rgba(0,0,0,0.5);
    margin-bottom: 4vw;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vw;
    text-align: center;
}

.text{
    font-size: 4vw;
    font-family: BentonSans-Regular;
}

.back-arrow-image{
   display: inline-block;
    width: 6vw;
    height: 5vw;
    margin-top: 25vw;
}

.back-text{
   display: inline-block;
    font-size: 4vw;
    font-family: BentonSans-Medium;
    vertical-align: middle;
    margin-left: 3vw;
    opacity: 0.8;
}

.arrow-button-wrapper{
       width: 45vw;
    height: 13vw;
    background-color:#87D7DE;
    border-radius: 14px;
       margin-top: 21vw;
    margin-left: 0vw;
    text-align: center;
}

.arrow-button-text{
    font-size: 4.5vw;
    font-family: BentonSans-Regular;
    color: white;
    padding-top: 4vw;
    /*padding-left: 5vw;*/
}
