.container{
	width:auto;
}
@font-face {
    font-family:BentonSans-Medium;
    src: url("./assests/BentonSans-Medium.otf");
}

@font-face {
    font-family:BentonSans-Regular;
    src: url("./assests/BentonSans-Regular.otf");
}

.image-responsive{
	width:100%;
	height:100%;
}

.bar-wrapper{
     width: 100vw;
    position: relative;
    height: 6vw;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.bar{
    display: inline-block;
    position: absolute;
   width: 19vw;
    height: 6vw;
}

.text-container{
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
}

.cross-image{
	width: 8vw;
    height: 8vw;
    margin-left: 79vw;
    margin-top: 5vw;
    opacity: 0.4;
}

.departure-title{
	font-size: 4.5vw;
    font-family: BentonSans-Regular;
    margin-top: 2vw;
    margin-bottom: 6vw;
    opacity: 0.8;
}

.big-box{
        width: 87vw;
    height: 11vw;
     border: 2px solid rgba(0,0,0,0.5);
    margin-bottom: 6vw;
    border-radius: 9px;
}

.logo{
    width: 5vw;
    height: 7vw;
    margin-top: 2vw;
    margin-left: 4vw;
}

.big-box-text{
   font-size: 4vw;
    font-family: BentonSans-Regular;
    margin-top: 2.5vw;
}

.down-arrow{
 width: 7vw;
    height: 6vw;
    margin-top: 2.5vw;
    margin-left: 8vw;
}

.small-box{
       display: inline-block;
    width: 22vw;
    height: 11vw;
    border: 2px solid rgba(0,0,0,0.5);
    margin-bottom: 6vw;
    border-radius: 9px;
    vertical-align: bottom;
}

.small-box-text{
    display: inline-block;
    font-size: 4vw;
    font-family: BentonSans-Regular;
    margin-top: 2.5vw;
    margin-left: 6vw;
}

.small-box-arrow{
display: inline-block;
    width: 5vw;
    height: 4vw;
    vertical-align: super;
    margin-left: 2vw;
}

.back-arrow-image{
    display: inline-block;
    width: 6vw;
    height: 5vw;
       margin-top: 11vw;
}

.back-text{
   display: inline-block;
    font-size: 4vw;
    font-family: BentonSans-Medium;
    vertical-align: middle;
    margin-left: 3vw;
    opacity: 0.8;
}

.arrow-button-wrapper{
          width: 45vw;
    height: 13vw;
    background-color: #7C7C7C;
    border-radius: 14px;
    margin-top: 6vw;
    margin-bottom: 5vw;
}

.arrow-button-text{
    display: inline-block;
    font-size: 4.5vw;
    font-family: BentonSans-Regular;
    color: white;
    padding-top: 4vw;
    padding-left: 5vw;
}

.arrow-button{
    display: inline-block;
    width: 12vw;
    height: 6vw;
    vertical-align: bottom;
    margin-left: 8vw;
}