.container{
	width:auto;
}
@font-face {
    font-family:BentonSans-Medium;
    src: url("./assests/BentonSans-Medium.otf");
}

@font-face {
    font-family:BentonSans-Regular;
    src: url("./assests/BentonSans-Regular.otf");
}

.image-responsive{
	width:100%;
	height:100%;
}



.text-container{
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
}


.left-arrow{
   width: 5vw;
    height: 4.5vw;
    opacity: 0.5;
    margin-top: 5.2vw;
     margin-left: 5vw;
}

.hero-title{
   font-size: 4vw;
    font-family: BentonSans-Medium;
    margin-top: 5vw;
}

.steps-container{
     position: relative;
    margin-top: 7vw;
    width: 88vw;
    border-top: 3px solid black;
    margin-left: 6vw;
}

.steps-wrapper{
  display: inline-block;
    width: 15.5vw;
    height: 10vw;
    z-index: 1;
    margin-bottom: 5vw;
    text-align: center;
}

.steps{
   position: absolute;
    width: 3vw;
    height: 3vw;
    margin-top: -1.7vw;
    z-index: 1;
}

.route-text{
    display: inline-block;
    font-family: BentonSans-Regular;
    font-size: 2.8vw;
   margin-left: -1vw;
    margin-top: 4vw;
    margin-bottom: 8vw;
}

.visited{
opacity: 0.8;
width: 15.5vw;
}

.active{
opacity: 1;
}

.not-visited{
opacity: 0.5;
width: 15.5vw;
}

.departure-title{
    font-size: 4.3vw;
    font-family: BentonSans-Medium;
    margin-top: 2vw;
    margin-bottom: 6vw;
    opacity: 0.6;
}

.big-box{
        width: 87vw;
    height: 11vw;
     border: 2px solid rgba(0,0,0,0.5);
    margin-bottom: 6vw;
    border-radius: 9px;
}

.logo{
    width: 5vw;
    height: 7vw;
    margin-top: 2vw;
    margin-left: 4vw;
}

.big-box-text{
   font-size: 4vw;
    font-family: BentonSans-Regular;
    margin-top: 2.5vw;
}

.down-arrow{
 width: 7vw;
    height: 6vw;
    margin-top: 2.5vw;
    margin-left: 8vw;
}

.small-box{
       display: inline-block;
    width: 22vw;
    height: 11vw;
    border: 2px solid rgba(0,0,0,0.5);
    margin-bottom: 6vw;
    border-radius: 9px;
    vertical-align: bottom;
}

.small-box-text{
    display: inline-block;
    font-size: 4vw;
    font-family: BentonSans-Regular;
    margin-top: 2.5vw;
    margin-left: 6vw;
}

.small-box-arrow{
display: inline-block;
    width: 5vw;
    height: 4vw;
    vertical-align: super;
    margin-left: 2vw;
}

.next-cancel-button{
  width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vw;
    height: 15vw;
    font-size: 4vw;
    font-family: BentonSans-Regular;
    text-align: center;
    margin-bottom: 2vw;
    border-radius: 5px;
}

.selected-button{
    background-color: #12B1BF;
    color: white;
    font-size: 4.5vw;
    margin-top: 15vw;
}