.container{
	width:auto;
}

@font-face {
    font-family: BentonSans-Medium;
    src: url("./assests/BentonSans-Medium.otf");
}

@font-face {
    font-family: BentonSans-Regular;
    src: url("./assests/BentonSans-Regular.otf");
}
/*body{
  font-family:BentonSans-Bold;
}*/

.main-wrapper{
	 background-color: rgba(0, 0, 0, 0.3);
   height: 168vw;
}

.hero-title{
        width: 93.466667vw;
    margin-left: 3.8vw;
    font-size: 3.7333333333333334vw;
    margin-top: 5.066666666666666vw;
    font-weight: 500;
    opacity: 0.7;
     font-family: BentonSans-Regular;
}

.details-wrapper{
	width: 91.46666666666667vw;
    /* height: 126.13333333333334vw; */
    margin-top: 5.866666666666666vw;
    padding-bottom: 5.066666666666666vw;
    margin-left: 4.8vw;
    border-radius: 3px;
    /* background-color: rgba(53, 189, 201, 0.02); */
    background-color: white;
    border-left: 7px solid #12b1bf;
    box-shadow: 0 0 4px 0 #b2b2b2;
}

.flights-place-time-detail{
    height: 43.46666666666667vw;
    border-right: solid 1px rgba(48, 56, 70, 0.2);
}

.date-time-wrapper{
	margin-top: 5.533333vw;
    margin-left: 1.666667vw;
}

.time{
  font-size: 3.2vw;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
   font-family: BentonSans-Medium;
}

.date{
font-size: 2.6666666666666665vw;
 opacity: 0.5;
  text-align: left;
  color: #000000;
   font-family: BentonSans-Regular;
}

.place{
	font-size: 3.7333333333333334vw;
	 font-weight: 500;
  /*text-align: left;*/
  color: #000000;
   font-family: BentonSans-Medium;

}

.airport{
	font-size:  3.2vw;
	width:49.06666666666667vw;
   font-family: BentonSans-Regular;
}

.place-airport-wrapper{
	    margin-top: 4.533333vw;
   margin-left: 1.933333vw;
    display: inline-block;
}

.flight-wrapper{
	margin-top: 3.7vw;
    margin-left: 0.6vw;
}

.emirates-image{
   width: 11.2vw;
    height: 10vw;
}

.image-responsive{
	width:100%;
	height:100%;
}

.flight-no{
  font-size: 2.1vw;
   font-family: BentonSans-Regular;
}

.black-plane{
  width: 6vw;
    height: 6vw;
    margin-left: 3vw;
}


.emirates-description{
	 margin-top: 2.533333vw;
    margin-left: 1.933333vw;
}

.duration-wrapper{
	display: inline-block;

}

.type-wrapper{
	display: inline-block;
	margin-left: 8.8vw;
}

.luggage-wrapper{
display: inline-block;
margin-left: 8.8vw;

}

.text1{
	font-size:  2.6666666666666665vw;
	 opacity: 0.3;
	 font-weight: 500;
     color: #000000;
         padding-top: 1.2vw;
          font-family: BentonSans-Regular;
}

.text2{
	font-size:  2.6666666666666665vw;
	 color: #000000;
	  font-weight: 500;
	  opacity: 0.5;
     font-family: BentonSans-Medium;
}

.ruppe-icon{
  display: inline-block;
    width: 4vw;
    height: 3.8vw;
    vertical-align: top;
    margin-top: 5vw;
}


.price-wrapper{
	display: inline-block;
	font-size: 3.7333333333333334vw;
	margin-top: 4.533333333333333vw;
	vertical-align: top;
	font-weight: 500;
	color: #12b1bf;
	text-align: right;
  font-family: BentonSans-Medium;
}

.gap-line{
	width: 68.8vw;
	height: 0.5333333333333333vw;
	border: solid 1px rgba(48, 56, 70, 0.2);
  margin-top: 4.066667vw;
	margin-left: 2.933333333333333vw;
}

.layover{
	font-size: 3.2vw;
	 opacity: 0.5;
	  color: #000000;
	  margin-top: 3.466666666666667vw;
	  margin-left: 1.933333vw;
     font-family: BentonSans-Regular;
}

.change-flight-button{
	width: 42.93333333333333vw;
    font-size: 3.7333333333333334vw;
    background-color: #12b1bf;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.933333vw;
    margin-bottom: 4vw;
    padding-top: 4.533333333333333vw;
    padding-bottom: 4.533333333333333vw;
    font-family: BentonSans-Medium;
}

.back-button{
	  width: 42.93333333333333vw;
    font-size: 3.7333333333333334vw;
    background-color: #6f6f6f;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.933333vw;
    margin-bottom: 4vw;
    padding-top: 4.533333333333333vw;
    padding-bottom: 4.533333333333333vw;
    font-family: BentonSans-Medium;
}

.box3{
    height: 12vw;
    border-radius: 3px;
    margin-left: 4.8vw;
    /*background-color: #ffffff;*/
    /*box-shadow: 0 0 4px 0 #b2b2b2;*/
    position: absolute;
    top: 155vw;
    border-left: 6px solid #f5b303;
    border-top: 1px solid black;
}



  .actual-time {
    margin-top: 4.533333333333333vw;
    font-size: 2.6666666666666665vw;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #000000;
     font-family: BentonSans-Medium;
}

.Leisure {
    font-size: 3.466666666666667vw;
   margin-top: 4vw;
    color: #000000;
    display: inline-block;
     font-family: BentonSans-Regular;
}

.add-button {
    width: 12.8vw;
    height: 4.266666666666667vw;
    font-size: 2.6666666666666665vw;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background-color: #12b1bf;
    border: solid 1px #12b1bf;
    display: inline-block;
    margin-left: 57vw;
    vertical-align: top;
    margin-top: -4vw;
    padding-top: 0.3vw;
}

.arrow-image{
  width: 4vw;
    height: 5vw;
    /* text-align: right; */
    margin-left: 66vw;
}